@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

/* Reset Total Seluruh Elemen */
*, *::before, *::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden !important; /* Mencegah layar bisa digeser ke samping */
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}